header {
    background: #001124;
    background: linear-gradient(180deg, rgba(0, 17, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 20px 0;
}

header h1 {
    color: white;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: static;
    bottom: 25px;
    margin-left: 30px;
}

header img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

nav {
    background-color: #00D4FF;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: black;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}


nav ul li a:hover {
    background-color: #090979;
}

nav ul li a.activo {
    background-color: #1212d6;
    color: white;
}